/**
 * HTML5 ✰ Boilerplate
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
textarea { overflow: auto; } 
.iem7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.iem7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea {
  color: #444;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
.nocallout {-webkit-touch-callout: none;}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
textarea.contenteditable {-webkit-appearance: none;}
.gifhidden {position: absolute; left: -100%;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Primary Styles for mobile
   Author: Bruno Abrantes
*/

body {
	background: rgb(225, 225, 225);
}

div[data-role="header"] {
	background: #E76588;
}

[data-role="footer"] p {
	float: left;
	margin: 15px;
	font-weight: normal;
	font-size: .9em;
}

.ui-btn-up-a {
	border: 1px solid 		#7a3649;
	background: 			#9d455d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6516d), to(#9d455d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b6516d, #9d455d); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b6516d, #9d455d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b6516d, #9d455d); /* IE10 */
	background-image:      -o-linear-gradient(top, #b6516d, #9d455d); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b6516d, #9d455d);
}

.ui-btn-hover-a, .ui-btn-active {
	border: 1px solid 		#522431;
	background: 			#783548;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#97445d), to(#783548)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #97445d, #783548); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #97445d, #783548); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #97445d, #783548); /* IE10 */
	background-image:      -o-linear-gradient(top, #97445d, #783548); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #97445d, #783548);
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 1.3em 15px;
}

.ui-body-c {
	background: rgb(225, 225, 225);
	color: #222;
}

ul {
	list-style-type: none;
}

dt, dd {
	text-align:center;
}

dt, h3, h4 {
	color: #E76588;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	text-transform: uppercase;
	font-family: Georgia, serif;
	margin: 25px 0 8px 0;
	background: url(../img/px-pttrn-4x1s-cocoa-bean-100.png) repeat-x center;
}

h4 {
	font-size: 15px;
	background: transparent;
}

dt span, h3 span {
	background: rgb(225, 225, 225);
	padding: 0 8px;
}

dt:first-child {
	margin-top: 0;
}

dd {
	font-weight: bold;
}

.youtube-video {
	max-width: 100%;
}

.event-page .ui-content {
	text-align: center;
	font-family: Georgia, serif;
}

.event-page .ui-content .meta {
	font-style: italic;
	color: #666;
}

.event-page .ui-content p {
	margin: 10px 0;
	text-align: justify;
}

.event-page .ui-content img {
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1%;
	max-width:98%;
}

.event-page .ui-content ul {
	margin: 0;
	padding: 0
}

.event-page .ui-content li {
	margin: 20px 0 0 0;
	padding: 0;
}

.event-page .ui-content li:first-child {
	margin: 0;
}

/* CSS MQ */

@media only screen and (min-width: 800px) {
}/*/mediaquery*/

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
}